.container{
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.wrapper{
display: flex;
align-items: baseline;
justify-content: center;
position: relative;



}
.wrapper>img{
    width: 20rem;
    position: absolute;
    bottom: 0;
    padding-right: 10rem;
   
}

.blueCircle{
    height: 23rem;
    width: 23rem;
    border-radius: 50%;
    z-index: -99;
    position: absolute;
    bottom: 0;
    background:rgb(16, 154, 208);
    margin-right: 10rem;
   
}
.cart2{
    position:absolute;
    bottom: 25%;
    right: 5%;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 4rem;

}
.cart2>svg{
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    padding: 10px;
    border: 6px solid black;
   

}
.signUp{
    display: flex;
    gap: 1rem;
    align-items: center;
    background: white;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 15px;
    box-shadow: #ccc 3px;
}
.signUp>:first-child{
    display: block;
    width: 6rem;

}
.signUp>:nth-child(2){
    border-radius: 50%;
    border: 1px solid skyblue;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}












.h-sides{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 2rem;
}
.text1{
    text-transform: uppercase;
    font-size: 1.5rem;
    width: min-content;
    display: block;
    font-weight: 600;
}
.text2{
    display: block;
    flex-direction: column;
    width: min-content;
    color: black;
}
.text2>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
}
.text2>:nth-child(2){
  display: block;  
}
.traffic{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.traffic>:first-child{
   
    font-weight: 800;
    font-size: 2.5rem;

}
.customers{
    flex-direction: column;
    display: flex;
    text-align: right;
}
.customers>:first-child{
    font-weight: 800;
    text-align: right;
    font-size: 2.5rem;
}